<div class="row">
	<div class="columns medium-2"><h4>Cuota a Pagar</h4></div>
</div>
<div class="row">
  <div class="columns medium-2">
  	Fecha: <%= @liquidacion.contratos_item.fecha_desde %>
  </div>
  <div class="columns medium-2">
  	Monto: <%= @liquidacion.contratos_item.monto %>
  </div>
  <div class="columns medium-2 end">
  	Saldo: <%= @liquidacion.contratos_item.saldo %>
  </div>
</div>
