<div class="row">
	<%= f.input :fecha_pago, readonly: true, label: false, input_html: {class: 'contratos_impuestos_fecha_pago'} %>
	<%= f.association :impuesto, label: false, input_html: {class: 'contratos_impuestos_impuesto'} %>	
	<%= f.input :monto, label: false %>
	<div class="columns medium-1 end"><%= f.input :pago, label: false, :wrapper => :inline_form, input_html: {class: 'contratos_impuestos_pago'} %></div>
</div>