@import "font-awesome-sprockets";
@import "font-awesome";

.fa {
  padding: 10px;
}

.footer{
	margin-bottom: 0;
	bottom: 0;
	position: fixed;
}

.tabs a{
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	outline: none; 
}

td {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#data-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
}

.error_messages ul li{
	color: #ff0000;
}
