@import "font-awesome-sprockets";
@import "font-awesome";


.fa {
  padding: 10px;
}

.footer{
	margin-bottom: 0;
	bottom: 0;
	position: fixed;
}

.tabs a{
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px; 
}