<table class="dataTable display responsive no-wrap">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad meses defecto</th>
    </tr>
  </thead>

  <tbody>
    <% @impuestos.each do |impuesto| %>
      <tr>
        <td><%= link_to impuesto.codigo, edit_impuesto_path(impuesto) %></td>
        <td><%= impuesto.nombre %></td>
        <td><%= impuesto.descripcion %></td>
        <td><%= impuesto.cantidad_meses_defecto %></td>
      </tr>
    <% end %>
  </tbody>
</table>
