<p>
  <strong>Codigo:</strong>
  <%= @impuesto.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @impuesto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @impuesto.descripcion %>
</p>

<p>
  <strong>Cantidad meses defecto:</strong>
  <%= @impuesto.cantidad_meses_defecto %>
</p>

